@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  font-family: "Open Sans", sans-serif;
}

.overlay:after {
  content: "";
  background-color: red;
  height: 100%;
  width: 100%;
  position:absolute;z-index: -1;
}
